<!DOCTYPE html>
<html>

<head>
    <title>home</title>
    <link rel="stylesheet" href="style.css">
    <!--  Change style.css in link tag(<link>) to stylesheet name or remove the link tag(<link>) if you want to use style tag(<style></style>) -->
</head>

<body>
    <div id="mystore-logo">
        MYSTORE
    </div>
    <div id="nav-1">
        <div id="nav-elem-grocery">Grocery</div>
        <div id="nav-elem-house">House Hold</div>
        <div id="nav-elem-about">About</div>
    </div>
    <div id="nav-2">
        <div id="nav-elem-register">Register</div>
        <div id="nav-elem-login">Login</div>
    </div>
    <div>
        <h1>{{ welcome_text }}</h1>
        <h2>{{ last_login_time }}</h2>
    </div>
</body>

</html>